server {
    listen [::]:80 default_server;
    listen 80 default_server;
    server_name kaberereshoplist.duckdns.org www.kaberereshoplist.duckdns.org;

    location = /favicon.ico { access_log off; log_not_found off; }
    location /static/ {
        root /home/johnson/app/AppRepo;
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/home/johnson/app/AppRepo/AppRepo.sock;
    }
}
